@font-face {
	font-family: "Lato";
	src: url("fonts/Lato-Bold.woff2") format("woff2"),
			 url("fonts/Lato-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("fonts/Lato-Semibold.woff2") format("woff2"),
			 url("fonts/Lato-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("fonts/Lato-Medium.woff2") format("woff2"),
			 url("fonts/Lato-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("fonts/Lato-Regular.woff2") format("woff2"),
			 url("fonts/Lato-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

*,
::after,
::before {
	box-sizing: inherit;
}

body {
	font-family: "Lato", "Arial", sans-serif;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.visually-hidden {
	position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

button, input, textarea {
	font-family: inherit;
}

.order-button {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 245px;
	height: 68px;
	padding: 5px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.4;
	color: #ffffff;
	background-color: #27ae60;
	border-radius: 40px;
	border: 1px solid rgba(39, 174, 96, 0.1);
	background-clip: content-box;
}
.order-button::after {
	position: absolute;
	content: "";
	top: 11px;
	right: 10px;
	width: 43px;
	height: 43px;
	background-color: #35b86c;
	background-image: url("img/arrow.svg");
	background-repeat: no-repeat;
	background-size: 51px 13px;
	background-position: 50% 50%;
	border-radius: 50%;
}

.order-button span {
	display: inline-block;
	padding: 18px 42px;
}

/*Page-header*/

.page-header__logo {
	width: 200px;
	padding: 30px 15px;
	margin-left: 19.5%;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.4;
	color: #000000;
}

.site-list__link {
	font-weight: 600;
	font-size: 14px;
	line-height: 1.4;
	color: #000000;
	text-decoration: none;
}

.site-list__link:hover {
	color: #27ae60;
	border-bottom: 1px solid #f3f3f3;
}

.main-nav {
	position: relative;
}

.main-nav__toggler {
	position: absolute;
	right: 15px;
	top: -80px;
	display: none;
	width: 38px;
	height: 38px;
	border: none;
	background-color: transparent;
	outline: none;
}

.main-nav__toggler span {
	position: relative;
	width: 38px;
	height: 6px;
	display: inline-block;
	background-color: #27ae60;
	border-radius: 10px;
}

.main-nav__toggler span::before {
	position: absolute;
	content: "";
	top: 10px;
	left: 0;
	width: 38px;
	height: 6px;
	background-color: #27ae60;
	border-radius: 10px;
}

.main-nav__toggler span::after {
	position: absolute;
	content: "";
	top: -10px;
	left: 0;
	width: 38px;
	height: 6px;
	background-color: #27ae60;
	border-radius: 10px;
}

.main-nav__toggler span, .main-nav__toggler span::before, .main-nav__toggler span::after {
	transition: transform 0.5s, background-color 0.5s;
}

@media (max-width: 767px) {
	.main-nav__toggler {
		display: block;
	}

	.no-js .main-nav__toggler {
		display: none;
	}

	.site-list {
		display: none;
	}

	.page-header--menu-opened {
		background-color: #27ae60;
	}

	.page-header--menu-opened .page-header__logo {
		color: #ffffff;
	}

	.page-header--menu-opened .site-list {
		display: block;
		padding-top: 10px;
		background-color: #27ae60;
	}

	.page-header--menu-opened .site-list__item {
		padding: 20px;
		height: 60px;
		text-align: center;
	}

	.page-header--menu-opened .site-list__link {
		color: #ffffff;
	}

	.page-header--menu-opened .main-nav__toggler {
		top: -70px;
	}

	.page-header--menu-opened .main-nav__toggler span {
		background-color: transparent;
	}

	.page-header--menu-opened .main-nav__toggler span::before {
		top: -10px;
		transform: rotate(45deg);
		background-color: #ffffff;
	}

	.page-header--menu-opened .main-nav__toggler span::after {
		transform: rotate(-45deg);
		background-color: #ffffff;
	}
}

@media (min-width: 768px) {
	.page-header {
		margin: 0 auto;
		display: flex;
		padding-top: 12px;
	}

	.site-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		width: 500px;
		padding-top: 30px;
	}

	.site-list__item {
		margin-bottom: 30px;
		margin-right: 111px;
	}
}

@media (min-width: 1024px) {
	.page-header {
		width: 100%;
	}

	.site-list {
		width: 822px;
	}
}

/*Banner-background*/

.wrapper {
	width: 100%;
	height: 1075px;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (min-width: 1024px) {
	.wrapper {
		background-image: url("img/background-banner.jpg");
	}
}

@media (min-width: 1024px) and (min-resolution: 1.5dppx), (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1024px) and (min-resolution: 144dpi) {
  .wrapper {
		background-image: url("img/background-banner@2x.jpg");
	}
}


@media (min-width: 1024px) {
	.webp .wrapper {
		background-image: url("img/background-banner.webp");
	}
}

@media (min-width: 1024px) and (min-resolution: 1.5dppx), (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1024px) and (min-resolution: 144dpi) {
  .webp .wrapper {
		background-image: url("img/background-banner@2x.webp");
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.wrapper {
		background-image: url("img/background-banner-tablet.jpg");
	}
}

@media (min-width: 768px) and (max-width: 1023px) and (min-resolution: 1.5dppx), (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (max-width: 1023px) and (min-resolution: 144dpi) {
	.wrapper {
		background-image: url("img/background-banner-tablet@2x.jpg");
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.webp .wrapper {
		background-image: url("img/background-banner-tablet.webp");
	}
}

@media (min-width: 768px) and (max-width: 1023px) and (min-resolution: 1.5dppx), (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (max-width: 1023px) and (min-resolution: 144dpi) {
	.webp .wrapper {
		background-image: url("img/background-banner-tablet@2x.webp");
	}
}

@media (max-width: 767px) {
	.wrapper {
		background-image: url("img/background-banner-mobile.jpg");
	}
}

@media (max-width: 767px) and (min-resolution: 1.5dppx), (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi) {
	.wrapper {
		background-image: url("img/background-banner-mobile@2x.jpg");
	}
}

@media (max-width: 767px) {
	.webp .wrapper {
		background-image: url("img/background-banner-mobile.webp");
	}
}

@media (max-width: 767px) and (min-resolution: 1.5dppx), (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi) {
	.webp .wrapper {
		background-image: url("img/background-banner-mobile@2x.webp");
	}
}

/*Banner-promo*/

.banner {
	display: flex;
}

.banner__title {
	font-weight: 700;
	color: #2b2b2b;
	line-height: 105.5%;
}

.banner__text {
	font-weight: 500;
	line-height: 1.4;
}

@media (min-width: 1024px) {
	.banner {
		width: 1400px;
		margin: 0 auto;
	}

  .banner__promo {
		width: 480px;
		padding-top: 221px;
		padding-left: 130px;
	}

	.banner__title {
		font-size: 50px;
		margin-bottom: 29px;
	}

	.banner__text {
		width: 340px;
		font-size: 23px;
		margin-bottom: 49px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.banner__title {
		width: 320px;
		font-size: 32px;
	}

	.banner__promo {
		width: 400px;
	}

	.banner__text {
		width: 290px;
		font-size: 18px;
	}
}

@media (max-width: 767px) {
	.banner__title {
		width: 250px;
		font-size: 25px;
	}

	.banner__text {
		width: 260px;
		font-size: 16px;
	}
}

@media (max-width: 1023px) {
	.banner {
		flex-direction: column;
	}

  .banner__promo {
		width: 100%;
	}

	.banner__title {
		margin: 0 auto 30px;
		text-align: center;
	}

	.banner__text {
		margin: 0 auto;
		text-align: center;
	}

	.banner__order-button {
		margin: 30px auto;
	}
}


/*Banner-slider*/

.banner__slider {
	position: relative;
	padding-top: 70px;
}

.banner__slider::after {
	position: absolute;
	content: "";
	left: 195px;
	top: 159px;
	width: 425px;
	height: 421px;
	padding: 38px;
	border-radius: 50%;
	background-color: #27ae60;
	opacity: 0.1;
	border: 1px solid #27ae60;
	background-clip: content-box;
}

.radio-slider__text {
	position: absolute;
	z-index: 2;
	width: 200px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.4;
	color: #bfbfbf;
	cursor: pointer;
}

.radio-slider__text span {
	position: relative;
}

.radio-slider__text:hover {
	font-size: 18px;
	color: #2b2b2b;
	transform: translateX(-50px);
	transition: font-size 0.3s, transform 0.3s;
}

.radio-slider__text:hover span::after {
	transform: translateX(50px) scale(1.6);
	opacity: 1;
}

.radio-slider__item input:checked ~ .radio-slider__text span {
	color: #2b2b2b;
}

.radio-slider__text span::after {
	position: absolute;
	content: "";
	right: -44px;
	top: -5px;
	width: 18px;
	height: 18px;
	padding: 5px;
	background-color: #27ae60;
	background-clip: content-box;
	border-radius: 50%;
	border: 1px solid #27ae60;
	opacity: 0.5;
}

.radio-slider__item input:checked + .radio-slider__text span::after {
	opacity: 1;
}

.radio-slider label[for="pregnant"] {
	top: 238px;
	left: 84px;
}

.radio-slider label[for="nursing"] {
	top: 400px;
	left: 63px;
}

.radio-slider label[for="safe-treats"] {
	top: 557px;
	left: 72px;
}

.radio-slider__image {
	display: none;
}

.radio-slider__item input:checked ~ .radio-slider__image {
	display: block;
}

.radio-slider__image img {
	position: absolute;
	z-index: 1;
	top: 111px;
	left: -16px;
}

.radio-slider__image--nursing img, .radio-slider__image--safe-treats img {
	left: 250px;
}