@font-face {
	font-family: "Lato";
	src: url("fonts/Lato-Bold.woff2") format("woff2"),
			 url("fonts/Lato-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("fonts/Lato-Semibold.woff2") format("woff2"),
			 url("fonts/Lato-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("fonts/Lato-Medium.woff2") format("woff2"),
			 url("fonts/Lato-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("fonts/Lato-Regular.woff2") format("woff2"),
			 url("fonts/Lato-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

*,
::after,
::before {
	box-sizing: inherit;
}

body {
	font-family: "Lato", "Arial", sans-serif;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.visually-hidden {
	position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

button, input, textarea {
	font-family: inherit;
}

.order-button {
	position: relative;
	display: block;
	width: 225px;
	height: 49px;
	padding: 5px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.4;
	color: #ffffff;
	background-color: #27ae60;
	border-radius: 40px;
	border: 4px solid #ffffff;
	box-shadow: 0 0 0 1px rgba(39, 174, 96, 0.2);
}

.order-button::after {
	position: absolute;
	content: "";
	top: 9px;
	right: 6px;
	width: 43px;
	height: 43px;
	background-color: #35b86c;
	background-image: url("img/arrow.svg");
	background-repeat: no-repeat;
	background-size: 51px 13px;
	background-position: 50% 50%;
	border-radius: 50%;
}

.order-button span {
	display: inline-block;
	padding: 15px 40px;
}

.order-button:hover,
.order-button:focus {
	background-color: #ffffff;
	color: #27ae60;
	border: 4px solid #27ae60;
	transition-duration: 0.3s;
}

.order-button:hover::after,
.order-button:focus::after {
	opacity: 0.5;
}

/*Page-header*/

.page-header__logo {
	width: 200px;
	padding: 30px 15px;
	margin-left: 19.5%;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.4;
	color: #000000;
}

.site-list__link {
	font-weight: 600;
	font-size: 14px;
	line-height: 1.4;
	color: #000000;
	text-decoration: none;
}

.site-list__link:hover {
	color: #27ae60;
	border-bottom: 1px solid #f3f3f3;
}

.main-nav {
	position: relative;
}

.main-nav__toggler {
	position: absolute;
	right: 15px;
	top: -80px;
	display: none;
	width: 38px;
	height: 38px;
	border: none;
	background-color: transparent;
	outline: none;
}

.main-nav__toggler span {
	position: relative;
	width: 38px;
	height: 6px;
	display: inline-block;
	background-color: #27ae60;
	border-radius: 10px;
}

.main-nav__toggler span::before {
	position: absolute;
	content: "";
	top: 10px;
	left: 0;
	width: 38px;
	height: 6px;
	background-color: #27ae60;
	border-radius: 10px;
}

.main-nav__toggler span::after {
	position: absolute;
	content: "";
	top: -10px;
	left: 0;
	width: 38px;
	height: 6px;
	background-color: #27ae60;
	border-radius: 10px;
}

.main-nav__toggler span, .main-nav__toggler span::before, .main-nav__toggler span::after {
	transition: transform 0.5s, background-color 0.5s;
}

@media (max-width: 767px) {
	.main-nav__toggler {
		display: block;
	}

	.no-js .main-nav__toggler {
		display: none;
	}

	.site-list {
		display: none;
	}

	.page-header--menu-opened {
		background-color: #27ae60;
	}

	.page-header--menu-opened .page-header__logo {
		color: #ffffff;
	}

	.page-header--menu-opened .site-list {
		display: block;
		padding-top: 10px;
		background-color: #27ae60;
	}

	.page-header--menu-opened .site-list__item {
		padding: 20px;
		height: 60px;
		text-align: center;
	}

	.page-header--menu-opened .site-list__link {
		color: #ffffff;
	}

	.page-header--menu-opened .main-nav__toggler {
		top: -70px;
	}

	.page-header--menu-opened .main-nav__toggler span {
		background-color: transparent;
	}

	.page-header--menu-opened .main-nav__toggler span::before {
		top: -10px;
		transform: rotate(45deg);
		background-color: #ffffff;
	}

	.page-header--menu-opened .main-nav__toggler span::after {
		transform: rotate(-45deg);
		background-color: #ffffff;
	}
}

@media (min-width: 768px) {
	.page-header {
		margin: 0 auto;
		display: flex;
		padding-top: 14px;
	}

	.site-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		padding-top: 30px;
	}
}

@media (min-width: 1024px) {
	.page-header {
		width: 100%;
	}

	.site-list {
		width: 822px;
	}

	.site-list__item {
		margin-bottom: 30px;
		margin-right: 111px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.site-list {
		width: 390px;
	}

	.site-list__item {
		margin-right: 45px;
		margin-bottom: 15px;
		margin-top: 3px;
	}

	.site-list__item:last-of-type {
		margin-right: 40px;
	}

	.page-header__logo {
		font-size: 16px;
		margin-left: 12.37%;
		width: 156px;
	}
}

/*Banner-background*/

.wrapper {
	width: 100%;
	height: 1075px;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (min-width: 1024px) {
	.wrapper {
		background-image: url("img/background-banner.jpg");
	}
}

@media (min-width: 1024px) and (min-resolution: 1.5dppx), (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1024px) and (min-resolution: 144dpi) {
  .wrapper {
		background-image: url("img/background-banner@2x.jpg");
	}
}


@media (min-width: 1024px) {
	.webp .wrapper {
		background-image: url("img/background-banner.webp");
	}
}

@media (min-width: 1024px) and (min-resolution: 1.5dppx), (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1024px) and (min-resolution: 144dpi) {
  .webp .wrapper {
		background-image: url("img/background-banner@2x.webp");
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.wrapper {
		background-image: url("img/background-banner-tablet.jpg");
	}
}

@media (min-width: 768px) and (max-width: 1023px) and (min-resolution: 1.5dppx), (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (max-width: 1023px) and (min-resolution: 144dpi) {
	.wrapper {
		background-image: url("img/background-banner-tablet@2x.jpg");
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.webp .wrapper {
		background-image: url("img/background-banner-tablet.webp");
	}
}

@media (min-width: 768px) and (max-width: 1023px) and (min-resolution: 1.5dppx), (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (max-width: 1023px) and (min-resolution: 144dpi) {
	.webp .wrapper {
		background-image: url("img/background-banner-tablet@2x.webp");
	}
}

@media (max-width: 767px) {
	.wrapper {
		background-image: url("img/background-banner-mobile.jpg");
	}
}

@media (max-width: 767px) and (min-resolution: 1.5dppx), (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi) {
	.wrapper {
		background-image: url("img/background-banner-mobile@2x.jpg");
	}
}

@media (max-width: 767px) {
	.webp .wrapper {
		background-image: url("img/background-banner-mobile.webp");
	}
}

@media (max-width: 767px) and (min-resolution: 1.5dppx), (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi) {
	.webp .wrapper {
		background-image: url("img/background-banner-mobile@2x.webp");
	}
}

/*Banner-promo*/

.banner {
	display: flex;
}

.banner__title {
	font-weight: 700;
	color: #2b2b2b;
	line-height: 105.5%;
}

.banner__text {
	font-weight: 500;
	line-height: 1.4;
}

@media (min-width: 1024px) {
	.banner {
		width: 1400px;
		margin: 0 auto;
	}

  .banner__promo {
		width: 480px;
		padding-top: 221px;
		padding-left: 130px;
	}

	.banner__title {
		font-size: 50px;
		margin-bottom: 29px;
	}

	.banner__text {
		width: 340px;
		font-size: 23px;
		margin-bottom: 49px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.banner__title {
		width: 320px;
		font-size: 32px;
	}

	.banner__promo {
		width: 400px;
	}

	.banner__text {
		width: 290px;
		font-size: 18px;
	}

	.banner__order-button {
		margin: 52px auto 0;
	}
}

@media (max-width: 767px) {
	.banner__title {
		width: 250px;
		font-size: 25px;
	}

	.banner__text {
		width: 260px;
		font-size: 16px;
	}
}

@media (max-width: 1023px) {
	.banner {
		flex-direction: column;
	}

  .banner__promo {
		width: 100%;
		padding-top: 78px;
	}

	.banner__title {
		margin: 0 auto 30px;
		text-align: center;
	}

	.banner__text {
		margin: 0 auto;
		text-align: center;
	}
}


/*Banner-slider*/

.banner__slider {
	position: relative;
	padding-top: 70px;
}

.banner__slider::after {
	position: absolute;
	content: "";
	left: 195px;
	top: 159px;
	width: 420px;
	height: 421px;
	padding: 38px;
	border-radius: 50%;
	background-color: #27ae60;
	opacity: 0.1;
	border: 1px solid #27ae60;
	background-clip: content-box;
}

.radio-slider__text {
	position: absolute;
	z-index: 2;
	width: 350px;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.4;
	color: #bfbfbf;
	cursor: pointer;
}

.radio-slider__text:hover span,
.radio-slider__text:focus span {
	color: #2b2b2b;
	transform: translateX(-20px) scale(1.1);
	transition-duration: 0.3s;
}

.radio-slider__text:hover::after,
.radio-slider__text:focus::after {
	transform: scale(1.86);
	opacity: 1;
}

.radio-slider__item input:checked ~ .radio-slider__text span {
	color: #2b2b2b;
}

.radio-slider__item input:checked ~ .radio-slider__text::after {
	opacity: 1;
}

.radio-slider__text::after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	margin-left: 14px;
	background-image: url("img/rounds.svg");
	background-repeat: no-repeat;
	opacity: 0.5;
	transition-duration: 0.3s;
	transition-property: transform;
}

.radio-slider__item input:checked + .radio-slider__text span::after {
	opacity: 1;
}

.radio-slider label[for="pregnant"] {
	top: 237px;
	left: 109px;
}

.radio-slider label[for="nursing"] {
	top: 394px;
	left: 61px;
}

.radio-slider label[for="safe-treats"] {
	top: 553px;
	left: 72px;
}

.radio-slider__image {
	display: none;
}

.radio-slider__item input:checked ~ .radio-slider__image {
	display: block;
}

.radio-slider__image img {
	position: absolute;
	z-index: 1;
}

.radio-slider__image--pregnant img {
	top: 111px;
	left: -16px;
	width: 1057px;
}

.radio-slider__image--nursing img {
	left: 231px;
	top: 58px;
}

.radio-slider__image--safe-treats img {
	left: 240px;
	top: 22px;
}

.radio-slider__button {
	display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
	.radio-slider__image--pregnant img {
		width: 104vw;
		height: 71.5vw;
		top: 105px;
		left: 97px;
	}

	.radio-slider__image--nursing img {
		width: 51.6vw;
		height: 82vw;
		left: 286px;
		top: 35px;
	}

	.radio-slider__image--safe-treats img {
		width: 59.5vw;
		height: 94vw;
		left: 279px;
	}

	.banner__slider::after {
		left: 236px;
		top: 92px;
	}

	.radio-slider label[for="pregnant"] {
		top: 171px;
		left: 148px;
	}

	.radio-slider label[for="nursing"] {
		top: 328px;
		left: 102px;
	}

	.radio-slider label[for="safe-treats"] {
		top: 485px;
		left: 110px;
	}
}

@media (max-width: 768px) {

	.radio-slider__text::after {
		display: none;
	}

	.radio-slider__image img {
		position: static;
	}

	.radio-slider__item input ~ .radio-slider__image {
		display: block;
	}

	.radio-slider::after {
		display: none;
	}

	.radio-slider__text {
		width: auto;
		position: static;
	}

	.radio-slider__list {
		display: flex;
		position: relative;
	}

	.banner__slider {
		overflow: hidden;
	}

	.radio-slider__image--pregnant img {
		width: 178vw;
		height: auto;
		margin-left: -37vw;
	}

	.radio-slider__image--nursing img {
		width: 102vw;
		height: auto;
		padding-left: 34px;
		margin-top: -50px;
	}

	.radio-slider__image--safe-treats img {
		width: 104vw;
		height: auto;
		margin-left: -33px;
		margin-top: -50px;
	}

	.radio-slider__button {
		position: absolute;
		z-index: 10;
		top: 270px;
		display: block;
		width: 26px;
		height: 33px;
		background-color: #27ae60;
		border-radius: 50%;
		border: none;
	}

	.radio-slider__button--prev {
		left: 12vw;
	}

	.radio-slider__button--next {
		left: 83vw;
	}

	.radio-slider__button span {
		position: relative;
	}

	.radio-slider__button span::after {
		position: absolute;
		content: "";
		top: -5px;
		left: -5px;
		display: block;
		width: 6px;
		height: 6px;
		background-color: transparent;
		border-bottom: 2px solid #ffffff;
	}

	.radio-slider__button--next span::after {
		border-right: 2px solid #ffffff;
		transform: rotate(-45deg);
	}

	.radio-slider__button--prev span::after {
		border-left: 2px solid #ffffff;
		transform: rotate(45deg);
	}
}